<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/jpg"
      href="{{ url_for('static', filename='images/chatbot.jpg') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/loader.css') }}"
    />
    <title>Welcome</title>
  </head>
  <body>
    <div class="loader"></div>
    <div class="loader"></div>
    <div class="loader"></div>
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
  </body>
</html>
